/* _content/TodoList/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dflwqwkrub] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dflwqwkrub] {
  color: #0077cc;
}

.btn-primary[b-dflwqwkrub] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dflwqwkrub], .nav-pills .show > .nav-link[b-dflwqwkrub] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dflwqwkrub] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dflwqwkrub] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dflwqwkrub] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dflwqwkrub] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dflwqwkrub] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TodoList/Views/Todo/Index.cshtml.rz.scp.css */
:root[b-hv2znhx9oa] {
    --fc: black;
    --op: 0.4;
}
*[b-hv2znhx9oa] {
    text-align: center;
    /*text-transform: capitalize;*/
    text-transform: uppercase;
    user-select: none;
}
#progress[b-hv2znhx9oa] {
    color: orange;
    background-color: rgba(255, 106, 0,0.3);
}

#ignore[b-hv2znhx9oa] {
    color: gray;
    background-color: rgba(0,0,0,0.3);
}

#postpone[b-hv2znhx9oa] {
    color: violet;
    background-color: rgba(255,0,255,0.3);
}

#undone[b-hv2znhx9oa] {
    color: yellow;
    background-color: rgba(255,255,0,0.3);
}

#done[b-hv2znhx9oa] {
    color: lightgreen;
    background-color: rgba(0,255,0,0.3);
}
#progress:hover[b-hv2znhx9oa] {
    background: orange;
    color: var(--fc);
}
#ignore:hover[b-hv2znhx9oa] {
    background: gray;
    color: var(--fc);
}
#postpone:hover[b-hv2znhx9oa] {
    background: violet;
    color: var(--fc);
}
#undone:hover[b-hv2znhx9oa] {
    background: yellow;
    color: var(--fc);
}
#done:hover[b-hv2znhx9oa] {
    background: lightgreen;
    color: var(--fc);
}
